!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    -#%title Крокос - анодирование алюминиевого профиля
    -#%meta{:name=>"description", :content=>"анодирование алюминиевого профиля, анодирование алюминия"}
    -#%meta{:name=>"keywords", :content=>"анодирование алюминиевого профиля, анодирование алюминия"}
    = header
    = yield :head
    %link{:rel=>"shortcut icon", :href=>'/assets/krokos/krokos.ico', type: "image/x-icon"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
    %meta{:content => "7cbcb26d280601e3", :name => "yandex-verification"}
    
    %link{:href => "/assets/krokos/style.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "/assets/krokos/layout.css"
    = stylesheet_link_tag "/assets/jquery.jscrollpane.css"
    = stylesheet_link_tag "/assets/jquery.snippet.css"
    = stylesheet_link_tag "/assets/jquery.vegas.css"

    = javascript_include_tag '/assets/jquery-2.0.0.min.js'
    = javascript_include_tag '/assets/jquery.vegas.js'
    =# javascript_include_tag '/assets/jquery.snippet.js'
    = javascript_include_tag '/assets/jquery.jscrollpane.js'
    = javascript_include_tag '/assets/jquery.mousewheel.js'
    = javascript_include_tag '/assets/documentation.js'
    /[if lt IE 7]
      %link{href:"/assets/krokos/ie_style.css", rel:"stylesheet", type:"text/css"}
  %body
    #container
      %h2
        %span.vegas Анодирование
        %br/
        алюминиевого
        %br/
        профиля
        %br/
      %h1 Крокос
      #authors
        %p
          %small
            Алюминиевый профиль
            = link_to 'Крокос', "http://krokos-vrn.ru", target: '_blank', title: 'Крокос - алюминиевый профиль'
      %ul#menu
        %li{class:"#{'current' if current_page?(root_path)}"}
          %span
            = link_to 'Главная', '/', title: 'Крокос - производство алюминиевого профиля, анодирование алюминиевого профиля'
        %li{class:"#{'current' if current_page?(page_link_path('uslugi-po-anodirovaniyu-alyuminievogo-profilya'))}"}
          %span
            = link_to 'Услуги', '/uslugi-po-anodirovaniyu-alyuminievogo-profilya', title: 'Анодирование алюминиевого профиля цена, скидки, услуги'
        %li{class:"#{'current' if current_page?(page_link_path('kontaktnaya-informatsiya'))}"}
          %span
            = link_to 'Контакты', '/adres-telefon-email-sayt', title: 'Крокос - адрес и контактная информация'
      %p.autor
        %small
          Разработка сайта
          = link_to 'Веб-студия МЛИП', 'http://mlip.ru', title: 'млип - разработка сайтов на Ruby on Rails'
    #content
      .scrollable
        #logo= image_tag '/assets/krokos/logo.png'
        = yield
        %ul.link-list
          - @sub_menu.each do |menu|
            %li= link_to menu.title, page_link_path(menu.slug), title: truncate(menu.description, length: 100, ommission: '...'), class:"#{'current' if current_page?(page_link_path(menu.slug))}"
          %li= link_to 'Доставка алюминиевого профиля по России', 'http://krokos.org/dostavka-v-russia', title: 'Крокос осуществляет доставку анодированного алюминиевого профиля по России', class:"#{'current' if current_page?('http://krokos.org/dostavka-v-russia')}"
    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter21536497 = new Ya.Metrika({id:21536497, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    %noscript
      %div
        %img{:alt => "", :src => "//mc.yandex.ru/watch/21536497", :style => "position:absolute; left:-9999px;"}/
