- if @city
  - content_for :head do
    %title
      Анодирование алюминиевого профиля
      = @city.name
      компания Крокос
    %meta{name: "keywords", content: "анодирование алюминиевого профиля #{@city.name}, анодирование профиля #{@city.name}, анодирование алюминия #{@city.name}"}
    %meta{name: "description", content: "Благодаря компании Крокос анодирование алюминиевого профиля доступно в городе #{@city.name}, потому что #{@city.name} является городом, в который поставляется алюминиевый профиль нашего производства"}
  %h3
    анодирование алюминиевого профиля
    = @city.name
  %p
    Примерная стоимость доставки 100 кг
    %strong алюминиевого профиля
    в Ваш город (
    %strong= @city.name
    ) составляет:
    = number_to_currency(price_with_delivery(@city.alias, 100).to_f.round(2), :precision=>2, :delimiter=>' ', separator: ',',  :unit=>'руб', :format=>"%n %u")
  %p
    %table{align:'center', style:'width:400px', border: 1}
      %thead
        %tr
          %th Вес алюминиевого профиля
          %th Стоимость доставки
      %tbody
        - 1.upto(10) do |i|
          %tr
            %td= "#{i*10} кг"
            %td= number_to_currency(price_with_delivery(@city.alias, i*10).to_f.round(2), :precision=>2, :delimiter=>' ', separator: ',',  :unit=>'руб', :format=>"%n %u")
        - 1.upto(10) do |i|
          %tr
            %td= "#{i*100} кг"
            %td= number_to_currency(price_with_delivery(@city.alias, i*100).to_f.round(2), :precision=>2, :delimiter=>' ', separator: ',',  :unit=>'руб', :format=>"%n %u")
  %p
    Приведенные выше цены на доставку в город
    %strong= @city.name
    являются примерными и зависят от габаритного объема готового
    %strong алюминиевого профиля
    способа его транспортировки до транспортной компании и необходимости экспедиции по городу
    %strong= @city.name
  %p
    Более подробно о стоимости доставки Вы всегда можете узнать в транспортной компании
    = link_to 'Автотрейдинг', 'http://www.ae5000.ru/', target: '_blank'
    узнать же о видах
    %strong алюминиевого профиля
    и о
    %strong анодировании профиля
    уточняйте у наших специалистов, контактные данные которых Вы найдете на нашем сайте в разделе
    %strong= link_to 'Контакты', 'http://krokos.org/kontaktnaya-informatsiya', title: 'крокос - анодирование алюминиевого профиля - контактные данные'
- else
  - content_for :head do
    %title Анодирование алюминиевого профиля производственной компанией Крокос в России
    %meta{name: "keywords", content: "анодирование алюминиевого профиля в России, анодирование профиля в России, анодирование алюминия в России"}
    %meta{name: "description", content: "Анодирование алюминиевого профиля необходимо всем, кто производит алюминиевый профиль в России, именно поэтому Крокос сотрудничаетс с транспортными компаниями, осуществляя доставку профиля практически во все города России"}
  %h3 крокос в россии
  %p
    Далеко не во всех городах России имеются заводы по производству
    %strong алюминиевого профиля
    и уж точно, что заводы, осуществляющие
    %strong анодирование алюминиевого профиля
    можно пересчитать по пальцам.
  %p
    Для того, чтобы Вы занимались производством корпусной мебели, шкафов-купе, торгового оборудования и прочими видами деятельности без приобретения
    %strong алюминиевого профиля
    по завышенным ценам посредников, "Крокос", совместно с транспортными компаниями осуществляет доставку практически во все города России.
  %p
    Узнайте о стоимости доставки
    %strong анодированного алюминиевого профиля
    просто перейдя по ссылкам из указанных ниже городов:
  %ul.link-list#cities
    - City.order('name').each do |city|
      %li= link_to city.name, "http://#{city.domain}.krokos.org/dostavka-v-russia", title: "анодирование алюминиевого профиля #{city.name}"
  %p
    Искренне надеемся на долгосрочное и взаимовыгодное сотрудничество!